:root {
  --primary-color: #2f0fe6;
  --secondary-color: #444;
  --bg-light: #f5f5f5;
  --bg-white: #ffffff;
  --border-color: #ddd;
  --hover-bg: #1e0eb8;
}

/* General Styles */
.about-page {
  background-color: var(--bg-light);
  padding: 2rem 0;
}

/* Course Card */
.course-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 400px; /* Adjust the min height as needed */
}

.card-body {
  display: flex;
  flex-direction: column;
}

.course-desc {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit to 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-img-top {
  height: 150px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .course-card {
    flex-direction: row;
    min-width: 500px;
    min-height: auto; /* Reset min height */
  }

  .card-img-top {
    height: auto;
    width: 50%;
  }

  .card-body {
    padding-left: 1.5rem;
    padding-top: 0;
  }

  .card-title {
    font-size: 1rem;
    margin: 0;
  }

  .card-text {
    font-size: 0.875rem;
  }
}
